#main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0 100px;
}

/* photgrapher */

.photograph-header {
    background-color: #FAFAFA;
    height: 100%;
}
#photographer-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.photographerPhotoId {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
}
.location {
    color: #901C1C;
    font-size: 24px;
    margin: auto;
}
.photographerName {
    color: #D3573C;
    font-size: 64px;
    margin: auto;
    font-weight: 100;
}
.tagLine {
    color: #525252;
    font-size: 18px;
}

/* contact modal */

#contact_modal {
    display: none;
}


.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
#envoi {
    width: 140px;
    height: 60px;
}


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
    margin: auto;
    position: fixed;
    z-index: 100;
    top: 2rem;
    bottom: 2rem;
    left: 30rem;
    height: 40rem;
}


.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 45px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 30px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
}

/* affichage des medias  */
.likesAndIconeDiv {
    display: flex;
    gap: 5px;
    align-items: center;
}
.media-list img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.media-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 1.5rem;
    height:100%;
}
.titleAndLikesOfMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;

}
.titleAndLikesOfMedia h2 {
    margin: 5px;
    font-weight: 100;

}
.mediaAndTitle {
    display: flex;
    flex-direction: column;
}
.mediaTitle {
    color: #901C1C;
}
.media-list video {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

/* lightbox */
#lightbox {
    display: none;
    width: 100%;
    z-index: 100;
    top: 0px;
    bottom: 0px;
}
#next {
    border: none;
    width: 20px;
    height: 30px;
    color: #901C1C;
    top: 50%;
    right: 8%;
    margin-top: -14px;
    z-index: 11;
    cursor: pointer;
    background-color: transparent;
    font-size: 40px;
}
.mediaLightBox {

    max-width: 100%;
    height: 58rem;
    width: 28rem;
    border-radius: 5px;
    max-height: 35rem ;
    object-fit:cover;

}

.defilement{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
#next {

    border: none;
    color: #901C1C;
    z-index: 11;
    cursor: pointer;
    background-color: transparent;
    font-size: 3rem;
  }

  #video-lightbox { 
 
    max-width: 100%;
    height: 62rem;
    width: 32rem;
    border-radius: 5px;
    max-height: 35rem;
  } 
  #iconCloseLightBox {

    position: absolute;
    top: 4%;
    right: 8%;
    cursor: pointer;
    color: #901c1c;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    
  }
  #prev {
    border: none;
    color: #901C1C;
    margin-top: -14px;
    z-index: 11;
    cursor: pointer;
    background-color: transparent;
    font-size: 3rem;
  }



/* encart */
.encart {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    right: 2rem;
    background-color: #DB8876;
    width: 18rem;
    height: 3rem;
    border-radius: 4px 4px 0px 0px;
    font-weight: 600;
}
#message {
    border: none;
    border-radius: 5px;
}
.closeBtn {
    background-color: #DB8876;
    border: none;
}
.modal_name {
    font-size: 45px;
    font-weight: normal;
    text-align: left;
}
/* filters */
.filter {
    display: flex;
    align-items: center;
    height: 70px;
    gap: 25px;
    
  }
  .btn_list{
    cursor: pointer;
    border-radius: 5px;
  }
  
  .filter_title {
    font-size: 18px;
    font-weight: 700;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
  
  .dropdown {
    position: relative; 
    height: 100%;
    
  }
  
  .dropdown_content {
    display: none;
    list-style-type: none;
    transition: max-height .1s ease-in-out;
  }
  
  .dropdown_content li {
    position: relative;
    width: 150px;
    z-index: 100;
  }
  
  .dropdown_content li::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 55%;
    transform: translateX(-50%);
    width: 91%;
    height: 1px;
    background: white;
  }
  
  .btn_list,
  .dropdown_content li button {
    border: 0;
    background: #901C1C;
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
    color: #FFF;
    height: 69px;
    width: 170px;
    text-align: left;
    padding-right: 20px;
  }
  
  
  .btn_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

