@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
    font-weight: 100;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 120px;
    grid-row-gap: 40px;
    margin-top: 100px;
}
.photographer_section a {
    text-decoration: none;
}
.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.photographerName {
    color: #D3573C;
    font-size: 36px;
    margin: auto;
    font-weight: 100;
}
.cityAndCountry {
    color: #901C1C;
    font-size: 13px;
    margin: auto;
}
.tagline {
    color: black;
    font-size: 10px;
    margin: auto;
}
.price {
    color: #757575;
    margin: auto;
    font-size: 9px;
}

.photographer_section img {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}


.media-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

video {
    width: 20rem;
    height: 10rem;
}

.photographer-details>img {
    width: 20rem;
    height: 10rem;
}

.defilement img,
.defilement video {
    display: none
}